.jumbotron {
  text-align: center;
  margin-top: 50px;
  font-family: futura;
}


.about {
  text-align: center;
}

#tools {
  font-style: italic;
  font-weight: 300;
}

body h2 {
  text-align: center;
  font-family: futura;
}

.col-md-5 img {
  height: 350px;
  border-radius: 40px;
}

/*.footer {

  height: 60px;
  background-color: blue;
}*/
